@use "variables" as *;

@use "components/header" as *;
@use "components/catedral" as *;
@use "components/lonja" as *;
@use "components/banys" as *;
@use "components/castell" as *;
@use "components/rutas" as *;
@use "components/footer" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: 1.5;
  margin: 0;
  color: $text-color;
  background-color: $background-color;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: $background-color;
}

.header__logo {
  margin-right: 10px;
  animation: pulse 2s infinite;

  svg {
    animation: pulse 3s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}

.header__toggle {
  margin-left: auto;

  .dark-mode-toggle {
    background-color: #FFCA28;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #FF7F50;
    }
  }
}

.intro {
  background-color: $catedral-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  margin: 0;

  h1 {
    font-size: $font-size-title;
    color: $secondary-color;
    text-align: left;
    margin: 1rem 0;
  }

  p {
    font-size: $font-size-base;
    color: $text-color;
    margin: 0.5rem 0;
  }

  &__image {
    width: 100%;
    height:auto;
    margin: 0;
    position: relative;

    img {
      clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }

  @include responsive(tablet) {
    padding: 2rem 1rem;

    &__image {
      max-width: 400px;
    }

    &__description {
      max-width: 400px;
    }
  }

  @include responsive(mobile) {
    padding: 1rem;

    &__image {
      max-width: 300px;
    }

    &__description {
      max-width: 300px;
    }
  }
}

.catedral, .castell, .lonja, .banys, .rutas {
  padding: 4rem 2rem;
  color: $text-color;
  position: relative;
  text-align: center;

  &__title {
    font-size: $font-size-title;
    margin-bottom: 1rem;
    color: $secondary-color;
    text-align: center;
  }

  &__image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto 1rem auto;
    display: block;
  }

  &__description {
    font-size: $font-size-description;
    line-height: 1.6;
    color: $text-color;
    max-width: 600px;
    margin: 0 auto 2rem auto;
    text-align: left;
  }

  &__button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: $button-color;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
    margin-top: 1rem;
    text-align: center;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  @include responsive(tablet) {
    padding: 2rem 1rem;

    &__image {
      max-width: 500px;
    }

    &__description {
      max-width: 500px;
    }
  }

  @include responsive(mobile) {
    padding: 1rem;

    &__image {
      max-width: 300px;
    }

    &__description {
      max-width: 300px;
    }
  }
}

.dark-mode {
  background-color: $dark-background-color-1;
  color: $dark-text-color;

  .header,
  .footer {
    background-color: $dark-background-color-2;
    color: $dark-text-color;
  }

  h1, h2 {
    color: $castell-bg-color;
  }

  main {
    background-color: #6B6B6B;
    color: $dark-text-color;
  }

  .intro,
  .catedral,
  .lonja,
  .banys,
  .castell,
  .rutas {
    background-color: #4F4F4F;
    color: $dark-text-color;
  }
}

.dark-mode-toggle {
  background-color: $dark-mode-button-color !important;
  color: $dark-mode-button-text-color !important;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $dark-mode-button-color-hover !important;
  }

}


@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

picture {
  display: block;
}