@use "../variables" as *;

.catedral {
  background-color: $catedral-bg-color;
}

.catedral__description {
  font-size: $font-size-description;
  line-height: 1.6;
  color: $text-color;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  text-align: left;

  &.catedral__images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    img {
      max-height: var(--image-height);
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .catedral__gif {
      width: auto; 
      height: var(--image-height);
    }

    .catedral__image {
      width: auto;
      height: var(--image-height);
    }
  }
}

.catedral__image {
  --image-height: 200px;
}
