@use "../variables" as *;

.footer {
  background-color: #2A9D8F;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &__logo {
    margin-right: 20px;
  }

  &__links {
    display: flex;
    gap: 20px;
  
    a {
      color: #333333;
      text-decoration: none;
      position: relative;
      font-size: 1.2em;
      font-weight: bold;
  
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #FFCA28;
        transition: width 0.3s;
      }
  
      &:hover::after {
        width: 100%;
      }
    }
  }

  svg {
    animation: pulse 3s infinite;
  }

  &__copyright {
    margin-top: 10px;
    text-align: center;
  }
}